html,
body {
  min-height: 100%;
  height: 100%;
}
#wrapper {
  background: #000;
  min-height: 100%;
  position: relative;
}
.boxed-layout {
  padding: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.avatar-rounded {
  border-radius: 3px;
  border: 1px solid #ffffff;
}
#content {
  margin-top: 30px;
}
body {
  color: #fff;
}
a {
  color: #62007F;
}
a:hover {
  color: #40005d;
}
.btn-u {
  background: #62007F;
  color: #ffffff;
}
.btn-u:hover,
.btn-u:focus,
.btn-u:active {
  background: #40005d;
}
p,
li,
li a {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}
nav {
  margin: 0;
  border: 0 !important;
}
nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
nav .navbar-brand {
  padding: 0 15px;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}
nav .navbar-brand > img {
  display: inline-block;
  margin-right: 10px;
}
nav .nav > li {
  font-weight: bold;
  padding: 0;
  border-bottom: 3px solid transparent;
}
nav .nav > li:hover {
  border-bottom: 3px solid #62007F;
}
nav .nav > li > a:hover {
  color: #40005d !important;
}
nav .nav > li > a {
  font-size: 1.3em;
}
nav .nav ul {
  border: 0;
  padding: 0;
}
nav .nav .fa {
  margin-left: 5px;
}
nav .dropdown-menu > li > a {
  padding: 5px 20px;
  border-right: 3px solid transparent;
  font-size: 1.2em;
}
nav .dropdown-menu > li > a:hover {
  border-right: 3px solid #62007F;
}
nav .open > a {
  color: #62007F !important;
}
.copyright {
  font-size: 12px;
  padding: 20px 0;
  background: #3e4753;
  position: absolute;
  bottom: 0;
}
.copyright p {
  color: #dadada;
  margin: 0;
}
.copyright a {
  color: #62007F;
}
.copyright a:hover {
  color: #9533b2;
  text-decoration: none;
}
.carousel {
  margin-top: -30px;
  margin-bottom: 40px;
}
.carousel h3 {
  margin: 0;
  font-weight: bold;
}
.carousel .img-slider {
  width: 100%;
  max-height: 450px;
  min-height: 450px;
}
#sidebar {
  padding-top: 20px;
}
.sidebar-widget {
  margin-bottom: 20px;
  border: 1px dashed #bbbbbb;
  padding: 15px;
}
.sidebar-widget .input-group {
  margin-bottom: 10px;
}
.sidebar-widget .input-group-addon {
  width: 36px;
}
.sidebar-widget button {
  margin-bottom: 10px;
}
.sidebar-widget button,
.sidebar-widget a {
  width: 100%;
  text-align: center;
}
#widget-member header {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
  color: #62007F;
}
#widget-member .input-group {
  width: 100%;
}
#widget-member .input-group input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#widget-member p {
  margin: 8px 0;
}
#widget-member p i {
  color: #555;
}
#widget-member footer.member-connected {
  padding-top: 8px;
  border-top: 1px solid #eeeeee;
}
#widget-member footer.member-connected a {
  margin-bottom: 3px;
}
#widget-server {
  color: #fff;
}
#widget-server header {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
#widget-server .server-on {
  color: #72c02c;
  padding-bottom: 10px;
}
#widget-server .server-off {
  color: #B40000;
  padding-bottom: 0;
}
#widget-server .progress {
  margin-bottom: 15px;
}
#widget-server .progress-bar {
  background-color: #62007F;
}
/* Header Fixed
------------------------------------
	// add class container to header
	header {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
	}*/
.magazine-news {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.magazine-news h3 {
  margin: 0;
}
.magazine-news .by-author {
  color: #ffffff;
  margin-bottom: 8px;
}
.magazine-news .by-author strong {
  color: #62007F;
}
.magazine-news .magazine-news-img {
  overflow: hidden;
  max-height: 150px;
  position: relative;
}
.magazine-news .magazine-badge {
  position: absolute;
  top: 120px;
  right: 0;
  padding: 5px 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #62007F;
}
.magazine-news .magazine-links {
  float: right;
}
.magazine-news .magazine-links a:hover {
  color: #ffffff;
  background-color: #62007F;
}
.magazine-news a.read-more {
  color: #62007F;
}
#blog strong {
  color: #62007F;
}
#blog .blog-post {
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
}
#blog .blog-post img {
  margin: auto;
}
#blog .blog-post h1 {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
  margin: 0;
  font-weight: bold;
  color: #62007F;
}
#blog .blog-post .blog-post-tags {
  padding: 5px;
}
#blog .blog-post .blog-post-tags ul {
  margin: 0;
}
#blog .blog-post .blog-post-like {
  padding: 5px;
}
#blog .blog-post header {
  border-bottom: 1px solid #eeeeee;
}
#blog .blog-post #dislike .fa,
#blog .blog-post #blog-delete {
  color: #ff0000;
}
#blog .blog-post #blog-edit {
  color: #777777;
}
#blog .related-posts {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
#blog .related-posts h2 {
  color: #62007F;
}
#blog .comments-post footer {
  padding: 7px;
}
#blog .comments-log {
  border: dashed 1px #bbb;
  padding: 20px;
  color: #585f69;
  font-size: 20px;
  line-height: 27px;
}
#blog .post-comments .panel {
  margin: 0;
}
#blog .post-comments .conform-comment {
  color: #ff0000;
}
#blog .comment {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
#blog .comment:last-of-type {
  border: none;
  padding-bottom: 20px;
}
#blog .comment .panel-heading a {
  color: #333333;
}
.magazine-news-img {
  overflow: hidden;
  max-height: 150px;
  position: relative;
}
#add-support header {
  margin: 5px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}
#add-support fieldset {
  margin-bottom: 10px;
}
#add-support textarea {
  margin-top: 10px;
}
#view-support header {
  margin: 5px 0 10px;
  border-bottom: 1px solid #eeeeee;
}
#view-support .timeline {
  padding: 0;
  list-style: none;
  position: relative;
}
#view-support .timeline::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 22%;
  width: 4px;
  content: '';
  background: #f3f3f3;
  margin-left: -14px;
}
#view-support .timeline > li {
  position: relative;
}
#view-support .timeline > li time {
  text-align: center;
  padding: 0 30px 0 0;
  font-weight: bold;
}
#view-support .timeline > li time .date {
  font-size: 1.7em;
  display: block;
}
#view-support .timeline > li time .time {
  font-size: 1.3em;
  color: #888888;
}
#view-support .timeline > li i.icon {
  top: 22px;
  left: 22%;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #72c02c;
  margin: 0 0 0 -17px;
  box-shadow: 0 0 0 4px #f3f3f3;
  -webkit-font-smoothing: antialiased;
}
#view-support .timeline > li article {
  padding: 10px 20px;
  background: #f3f3f3;
  border-radius: 5px;
}
#view-support .timeline > li article h2 {
  border-bottom: 1px solid #ddd;
}
#view-support .timeline > li article.repondre {
  padding-bottom: 10px;
}
#view-support .timeline > li article.repondre textarea {
  margin-bottom: 10px;
}
