/*Boxed Layout
------------------------------------*/
#wrapper {
  background: #fff;
}

.boxed-layout {
  padding: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


/* Navbar */
	nav {
		margin: 0;
		border: 0 !important;
	}
	.navbar {
		margin-bottom: 0;
	}
	.navbar-brand {
		padding: 0 15px;;
	}
	.navbar-brand > img {
		display: inline-block;
	}
	.nav>li {
		font-weight: bold;
		padding: 0;
		border-bottom: 2px solid transparent;
	}
	.nav>li>a:hover {
		color: #72c02c !important;
	}
	.nav>li:hover {
		border-bottom: 2px solid #72c02c;
	}
	.nav ul {
		border: 0;
		padding: 0;
	}
	.dropdown-menu>li>a {
		padding: 5px 20px;
		border-right: 3px solid transparent;
	}
	.dropdown-menu>li>a:hover {
		border-right: 3px solid #72c02c;
	}
	.nav .open>a {
		color: #72c02c !important;
	}

/* Sidebar */
	.sidebar-widget {
		padding: 0;
		margin-bottom: 20px;
		border: dashed 1px #bbb;
		padding: 15px;
	}
	.sidebar-widget .input-group-addon {
		width: 36px;
	}
	.sidebar-widget .input-group {
		margin-bottom: 10px;
	}
	.sidebar-widget button, .sidebar-widget a {
		width: 100%;
		text-align: center;
	}
	.sidebar-widget button {
		margin-bottom: 10px;
	}
	/* Member */
		#widget-member header {
			margin: 0;
			padding-bottom: 5px;
			border-bottom: 1px solid #eee;
		}
		#widget-member p {
			margin: 8px 0;
		}
		#widget-member p i {
			color: #555;
		}
		#widget-member footer.member-connected  {
			padding-top: 8px;
			border-top: 1px solid #eee;
		}
		#widget-member footer.member-connected a {
			margin-bottom: 3px;
		}
	/* Server */
		#widget-server header {
    	font-size: 15px;
    	font-weight: bold;
    	text-align: center;
		}
		#widget-server .server-on {
			color: #72c02c;
    	padding-bottom: 10px;
		}
		#widget-server .server-off {
			color: #f00;
			padding-bottom: 0;
		}
		#widget-server .progress {
			margin-bottom: 15px;
		}
		#widget-server .progress-bar {
			background-color: #72c02c;
		}

/* Carousel */
	.carousel {
		margin-bottom: 40px;
	}
	.carousel h3 {
		margin: 0;
		font-weight: bold;
	}
	.img-slider {
		width: 100%;
		max-height: 450px;
		min-height: 450px;
	}

/* Blog */
	/* Index display news */
		.magazine-news-img {
			overflow: hidden;
			max-height: 150px;
			position: relative;
		}

		.magazine-badge {
			position: absolute;
	    top: 120px;
	    right: 0;
	    padding: 5px 10px;
	    font-weight: bold;
	    color: #fff;
	    background-color: #72c02c;
		}
		.magazine-news {
			border-bottom: 1px solid #eee;
			margin-bottom: 15px;
			padding-bottom: 10px;
		}
		.magazine-news h3 {
			margin: 0;
		}
		.magazine-news .by-author {
			color: #777;
			margin-bottom: 8px;
		}
		.magazine-news .by-author strong {
			color: #72c02c;
		}
		.magazine-news .magazine-links {
			position: absolute;
	    right: 15px;
	    bottom: 7px;
		}
		.magazine-news .magazine-links a:hover {
			color: #fff;
			background: #72c02c;
		}

		.magazine-news a.read-more {
			color: #72c02c;
		}

/*Copyright*/
	.copyright {
		font-size: 12px;
		padding: 20px 0;
		background: #3e4753;
	}

	.copyright p {
		color: #dadada;
		margin: 0;
	}

	.copyright a {
		color: #72c02c;
	}
	.copyright a:hover {
		color: #a8f85f;
		text-decoration: none;
	}