
#wrapper {
	background: #fff;
}

.navbar-brand
	padding: 0 15px;
	>img {
		display: inline-block;
	}
}

/* Header Fixed
------------------------------------
	// add class container to header
	header {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
	}*/