{% set title %}Réglement du serveur {{ name_server }}{% endset %}
{% do _this.assign('title', title) %}
<main class="col-md-9">
  {% if rules is not empty %}
		{{ rules }}
	{% else %}
		<section class="info-block">
			<i class="fa fa-3x fa-info-circle"></i>
			<h2>Le réglement n'a pas encore été rédigé</h2>         
		</section>
	 	{% endif %}
</main>
{{ _this.element('sidebar') }}